<link rel="stylesheet" href="../Styling/header.css">

<header class="header-component">
    <div class="header-container">
        <div id="blue-header-circle"></div>
        <h3 id="header-name">Mohammad Osman</h3>
        <p id="student-title">Software Engineering Student</p>
        <div id="right-header-side">
            <a class="right-header-item" href="../contact.html">Contact</a>
            <div class="right-vertical-line"></div>
            <a class="right-header-item" href="about.html">About</a>
            <div class="right-vertical-line"></div>
            <a class="right-header-item" href="../index.html">Home</a>
        </div>
    </div>
</header>